<html>
    <div class="main-container">
        <header class="header-6">
          <div class="branding">
              <a href="..." class="nav-link">
                  <clr-icon shape="fast-forward"></clr-icon>
                  <span class="title">Costing</span>
              </a>
          </div>

          <div class="header-actions">
              <a href="..." class="nav-link nav-icon">
                  <clr-icon shape="cog"></clr-icon>
              </a>
          </div>
        </header>
        <div class="content-container">
            <div class="content-area">

            <div class="clr-row">
                <app-cost-card *ngFor="let cs of costsheets" [costsheet]="cs" id='cs.costsheetid'></app-cost-card>
            </div>

            </div>
            <nav class="sidenav">
                <section class="sidenav-content">
                    
                    <app-filter-form (filterCriteriaSelected)="getFilterCriteria($event)"></app-filter-form>

                 </section>

              </nav>
        </div>
     </div>

    
</html>
