<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="fast-forward"></clr-icon>
                <span class="title">Costing</span>
            </a>
        </div>

        <div class="header-actions">
            <a href="..." class="nav-link nav-icon">
                <span class="badge badge-blue">57</span><clr-icon shape="store"></clr-icon>
            </a>
            <a href="..." class="nav-link nav-icon">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">

        <div class="clr-row">
            <div style="text-align:right; width:100%; padding:0;">
                    <!-- <clr-icon shape="filter-grid" class="is-solid"  size="48"></clr-icon>
               &nbsp;
               &nbsp; -->
               <button class="btn btn-primary" [disabled]="!compare">Add to Compare</button>
            </div>

            <app-cost-card *ngFor="let cs of costsheets" [costsheet]="cs" id='cs.costsheetid'></app-cost-card>
            
        </div>

        </div>
        <nav class="sidenav">
            <section class="sidenav-content">
                
                <app-filter-form (filterCriteriaSelected)="getFilterCriteria($event)"></app-filter-form>

                </section>

            </nav>
    </div>
    </div>

