<div class="clr-col-lg-12 clr-col-12">

     <div class="card">

            <div class="card-block">
                <div class="card-media-block">
                    <img [src]='costsheet.picture' class="card-media-image">
                    <div class="card-block">
                        
                            <ul  style="list-style-type:none;">
                              <li>Season : {{costsheet.seasonName}}</li>
                              <li>Product: {{costsheet.productName}}</li>
                              <li>Brand: {{costsheet.brand}}</li>
                              <li>Category: {{costsheet.category}}</li>
                              <li>Vendor: {{costsheet.vendor}}</li>
                              <li>Retail: {{costsheet.retailCost}}</li>
                            </ul>
                        
                    </div>
                    
                </div>
            </div>
            <div class="card-footer">
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox value="option1" name="options" />
                    <label>Select</label>
                </clr-checkbox-wrapper>
            </div>
        </div>
</div>
