<div class="clr-row">
    <div class="clr-col-lg-4 clr-col-6">
        <div class="card">

            <div class="card-block">
                <div class="card-media-block">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71IOi6AP76L._UX385_.jpg" class="card-media-image">
                    <div class="card-block">
                        
                            <ul>
                              <li>Some text</li>
                              <li>Other Text</li>
                            </ul>
                        
                    </div>
                    
                </div>
            </div>
            <div class="card-footer">
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox value="option1" name="options" />
                    <label>Select</label>
                </clr-checkbox-wrapper>
            </div>
        </div>