<div class="clr-col-lg-12 clr-col-12">

     <div class="card">

            <div class="card-block">
                <div class="card-media-block">
                    <img [src]='costsheet.picture' class="card-media-image">
                    <div class="card-block">
                        
                            <ul  style="list-style-type:none;">
                              <li>Season : <b>{{costsheet.seasonName}}</b></li>
                              <li>Product: <b>{{costsheet.productName}}</b></li>
                              <li>Brand: <b>{{costsheet.brand}}</b></li>
                              <li>Category: <b>{{costsheet.category}}</b></li>
                              <li>Vendor: <b>{{costsheet.vendor}}</b></li>
                              <li>Retail: <b>{{costsheet.retailCost}}</b></li>
                            </ul>
                        
                    </div>
                    
                </div>
            </div>
            <div class="card-footer">
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox value="option1" name="options" />
                    <label>Select</label>
                </clr-checkbox-wrapper>
            </div>
        </div>
</div>
